
.wrapper {
  min-height: calc(100vh - 300px);
  background:#b99a9a ;
 
}
/*home.html */
/*header */
header {
  border: 2px solid;
  width: auto;
  background-color: #d1dac0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
 align-items: center;

  
}


.mainContactUs {
  flex-wrap: wrap; 
  max-width: 300;
  height: auto;

  
}



.headerA ul {
  display: flex;
  justify-content: flex-end;
}

.picA {
  width: 20%;
}

.LiMenu {
  display: block;
  font-size: 20px;
  float: right;
  padding: 10px;
}

/*main*/








.mainDiv1 {
  color: black;
  font-size: 20px;
  font-display: black;
}


.mainDiv2specialist{
color: aquamarine;
}


.picMain {
  width: 454px;
  height: auto;
  margin: 30px;
  image-resolution: 60px;
}

.mainDiv2 {
  width: 454px;
}

.mainDiv2 {
  color: rgb(0, 47, 81);
  font-size: 30px;
}

.home-links {
  text-align: center;
}

.home-linksSpecialist {
  text-align: center;
  text-emphasis: bold;
 text-decoration-color: #7fffd4;
}



.h1Specialist {
font-weight: 700;
font-size: 150%;
color: black;
}

.pSpecialist {
  font-size: 15%;
  color: rgb(42, 165, 155);
}




.HomeMainMenu {
  list-style: none;
  display: inline;
  font-size: 30px;
  padding: 0px;
}





.footerClaims {
  background-color:#b5d8c3;
  color: #2B2249;
  height: 300px;
  bottom: 0;
  width: auto;
  margin: 0%;
}


.footerCar {
  background-color:#b5d8c3;
  color: #2B2249;
  height: 300px;
  bottom: 0;
  margin: -2.2%;
}


.mainDiv2PersonalAccident
.{
font-size: 30%;
font-display: #0000ff;
}


.mainDiv2Travel
.{
font-size: 30%;
font-display: #0000ff;
}

.mainDiv2HomeContent
.{
font-size: 30%;
font-display: blue;
}

.mainDiv2Car
.{
font-size: 30%;
font-display: blue;
}


.footerHomeContent {
  background-color:#b5d8c3;
  color: #2B2249;
  height: 300px;
  bottom: 0;
  margin: -1.2%;
}


.footerContactUs {
  background-color:#b5d8c3;
  color: #2B2249;
  height: 300px;
  bottom: 0;
  margin: -1.2%;
}






/*footer*/
.footer {
  background-color:#b5d8c3;
  color: #2B2249;
  height: 300px;
  bottom: 0;
  margin: -1.2%;
}

/*.footerPictA {
  width: 40px;
  height: 50px;
  padding: 0px;
  image-resolution: 200px;
  
}*/

.ourPartner {
  background-color: #b5d8c3;
}

.ourTeam {
  color: #b7aec0;
  }

.footerClassProf {
  font-family: "Times New Roman", Times, serif;
  display: flexbox;
  flex-direction: row;
  justify-content: right;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 2%;
}

.footerClassTerm {
  color: #292929;
  font-family: "Times New Roman", Times, serif;
  display: flexbox;
  flex-direction: row;
  justify-content: right;
  font-size: 10px;
  margin-left: 20%;
  margin-right: 2%;
}

.footerCTK {
  color:   #570b0b;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  display: flexbox;
  justify-content: left;
  float: right;
  margin-left: 20%;
  margin-right: 2%;
}

/*about-us.html */
.aboutUShomePageMktg {
  color: #b7aec0;
}



/*claims.html */
.claimHead {
  color: #a52a2a;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20%;
}

.claimsContact {
  display: inline;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  break-inside: auto;
  height: 100px;
  overflow: hidden;
}

/*spcialist-area.html */
.mainSpecialist {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 200%;
  float: left;
}

label {
display: block;
font-weight: 700;
margin-bottom: 0.5em;
}

.form-input {
border: 2px solid #ccc;
border-radius: 4px;
font-size: 16px;
font-weight: 400;
padding: 1em;
margin-bottom: 1.5em;
width: 70%;
}

.form-input:focus {
  outline: none;
  border: 2px solid #261f17;
}

  [type="submit" ] { 
    background: #c45d7c;
    color: aqua;
    width: 73%;
    font-size: 1.0em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border: 0;
    padding: 0.5em;
    cursor: pointer;
  }

  [type="submit"] :hover,
  [type ="submit"]:focus {
    background: #796c60;
  }

  textarea {
    height: 150px;
    resize: vertical;
  }

.error {
  border-color: #7fffd4;
}

.error-message{
color: #c45d7c;
margin: -1em 0 1.5em;
}


.travelfooter {
  display: flex
  
    }





@media screen and (max-width: 768px) {
  .picMain {
    width: 300px;
    height: auto;
    margin: 0%;
  }

  .mainDiv2 {
    color: rgb(0, 47, 81);
    font-size: 15px;
  }


  .footer {
    background-color:#d81e1e;
    color: #2B2249;
    height: 500px;
    bottom: 0;
    margin: -1.2%;

  }


  .home-links {
    text-align: left;
  }
  
  .home-linksSpecialist {
    text-align: left;
    text-emphasis: bold;
   text-decoration-color: #7fffd4;
  }
  
  



  .LiMenu {
    display: block;
    font-size: 10px;
    float: center;
    width: 46%;
  

  .headerA ul {
  float: none;
  }
  
  }


  @media screen and (max-width: 480px) {
    .picMain {
      width: 200px;
      height: auto;
    }
    .footer {
      background-color:#1ed89a;
      color: #2B2249;
      height: 500px;
      bottom: 0;
      margin: -1.2%;
  
    }
  

  }

  

 

  

